body {
    margin:0;
    padding:0;
}
h1 {
    width :300px;
    text-align:center;    
    margin:0 auto;
}
.game-container {
    width:100%;
    background:#e2e2e2;
    margin:0 auto;
}
.game-container .row {
    width:100%;
    overflow:auto;
}
.game-container .row .cell {
    width:40px;
    height:40px;
    margin:1px;
    float:left;
}
.game-container .row .cell .actor {
    width:100%;
    height:100%;
    background:#19B5FE;
    font-size:14px;
    text-align:center;
}


